/* 01 Mar 2021
Personal Portfolio
Composer: brndn */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: url("coffee-zoom.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    font-family: averia serif libre;
}

#scene {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}
/* room ----------------------------------- */
#room {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(100px);
}

.surfaces {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    text-align: center;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0rem 0rem 10rem;
}

#back-wall {
    background-image: url("back-wall.jpg");
    transform: translateZ(-500px) translateY(-15%);
    display: flex;
    justify-content: center;
}

#floor {
    background-image: url("wood-floor2.jpg");
    transform: translateZ(-117px) translateY(35%) rotateX(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-wall {
    background-image: url("wall-texture.jpg");
    transform: translateZ(-300px) translateX(-50%) translateY(-15%) rotateY(90deg);
}

#right-wall {
    background-image: url("wall-texture.jpg");
    transform: translateZ(-300px) translateX(50%) translateY(-15%) rotateY(-90deg);
}

#ceiling {
    background-image: url("wall-texture.jpg");
    transform: translateZ(-145px) translateY(-65%) rotateX(-90deg);
}
/* bookshelf ------------------------------------- */
#bookshelf {
    width: 33vw;
    height: 66vh;
    position: absolute;
    bottom: 7.2rem;
    transform-style: preserve-3d;
    transform: translateZ(-375px);
    box-shadow: inset 0rem 0rem 10rem white;
}

#bookshelf:hover {
    box-shadow: 1rem -3rem 10rem white;
}

.bookshelf {
    position: absolute;
    border: 1px solid #66493c;
    transform-style: preserve-3d;
    background-image: url("bookshelf-texture.jpg");
    background-position: center;
    background-size: cover;
}
/* bookshelf sides -------------------------- */
#bs-left {
    width: 10rem;
    height: 100%;
    left: 0;
    transform: translateZ(-20px) translateX(-50%) rotateY(90deg);
    box-shadow: inset -1rem 0rem 5rem;
}

#bs-left-face {
    width: 1rem;
    height: 100%;
    left: 0;
    transform: translateZ(60px);
}

#bs-right {
    width: 10rem;
    height: 100%;
    right: 0;
    transform: translateZ(-20px) translateX(50%) rotateY(90deg);
}

#bs-right-face {
    width: 1rem;
    height: 100%;
    right: 0;
    transform: translateZ(60px);
}
/* bookshelf shelves ---------------------------- */
#bs-shelf1 {
    width: 100%;
    height: 10rem;
    top: 15vh;
    transform: translateZ(-20px) translateY(-50%) rotateX(90deg);
    box-shadow: inset 0rem 1rem 10rem;
}

#bs-shelf1-under {
    width: 100%;
    height: 10rem;
    top: 17vh;
    transform: translateZ(-20px) translateY(-50%) rotateX(90deg);
    box-shadow: inset 0rem 1rem 10rem;
}

#bs-shelf1-face {
    width: 100%;
    height: 1rem;
    top: 15vh;
    transform: translateZ(60px);
    z-index: -1;
}

#bs-shelf2 {
    width: 100%;
    height: 10rem;
    top: 33vh;
    transform: translateZ(-20px) translateY(-50%) rotateX(90deg);
}

#bs-shelf2-face {
    width: 100%;
    height: 1rem;
    top: 33vh;
    transform: translateZ(60px);
    z-index: -1;
}

#bs-shelf3 {
    width: 100%;
    height: 10rem;
    top: 50vh;
    transform: translateZ(-20px) translateY(-50%) rotateX(90deg);
    box-shadow: inset 0rem 1rem 3rem;
}

#bs-shelf3-face {
    width: 100%;
    height: 1rem;
    top: 50vh;
    transform: translateZ(60px);
    z-index: -1;
}
/* bookshelf top and bottom ------------------------- */
#bs-top {
    width: 100%;
    height: 10rem;
    top: -4rem;
    transform: translateZ(-20px) rotateX(90deg);
    box-shadow: inset 0rem 1rem 10rem;
}

#bs-top-face {
    width: 100%;
    height: 1rem;
    top: 0rem;
    transform: translateZ(61px);
}

#bs-bottom {
    width: 100%;
    height: 10rem;
    bottom: -4rem;
    transform: translateZ(-20px) rotateX(90deg);
    box-shadow: inset 0rem 1rem 3rem;
}

#bs-bottom-face {
    width: 100%;
    height: 1rem;
    bottom: 0rem;
    transform: translateZ(60px);
}
/* bookshelf back -------------------------------- */
#bs-back {
    width: 100%;
    height: 100%;
    transform: translateZ(-100px);
    box-shadow: inset 0rem 0rem 10rem;
}
/* logo ---------------------------------------------- */
h1 {
    margin: 0em;
    font-size: 3rem;
    color: blanchedalmond;
    text-shadow: 0rem 0rem 10px black;
}

h1 span {
    display: inline-flex;
    letter-spacing: 0em;
}

h1 span:nth-child(even) {
    overflow: hidden;
    letter-spacing: -1em;
    transition: ease-in-out 0.5s;
}

h1:hover span:nth-child(even) {
    font-size: 0.75em;
    letter-spacing: 0em;
    transition: ease-in-out 0.5s;
}
/* contact --------------------------------------- */
#self {
    position: fixed;
    height: 15rem;
    z-index: 2;
    right: 1rem;
    bottom: 0rem;
}

.contact {
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    color: blanchedalmond;
    border: 4px solid currentColor;
    border-radius: 10px;
    box-shadow: 0rem 0rem 1rem currentColor;
}

.contact a {
    text-decoration: none;
    color: currentColor;
}

.contact p {
    margin: 0.5rem;
    text-shadow: 0rem 0rem 5px currentColor;
}

.contact:hover {
    color: #f586aca3;
    box-shadow: 0rem 0rem 3rem currentColor;
}

#email {
    right: 5rem;
    bottom: 22rem;
    animation: phase 2.75s linear infinite alternate;
}

#linkedin {
    right: 3.75rem;
    bottom: 34rem;
    animation: phase 2.9s linear infinite alternate;
}

#github {
    right: 4.5rem;
    bottom: 28rem;
    animation: phase 3s linear infinite alternate;
}
    
@keyframes phase {
    0% {
        filter: hue-rotate(0deg) blur(1px);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
/* rug ---------------------------------------- */
#rug {
    width: 15rem;
    margin-top: 10rem;
}


/* responsive --------------------------------- */
@media (min-width: 768px) {
    
    #back-wall {
        align-items: center;
    }

    #bookshelf {
        width: 25vw;
    }

    h1 {
        font-size: 5rem;
    }
    
    .contact {
        position: fixed;
    }

    #email {
        right: 4.5rem;
        bottom: 15rem;
    }

    #linkedin {
        right: 3.25rem;
        bottom: 20rem;
    }

    #github {
        right: 4rem;
        bottom: 25rem;
    }

    @keyframes phase {
        0% {
            filter: hue-rotate(0deg) blur(1px);
            transform: translateY(0%) rotateY(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
            transform: translateY(-30%) rotateY(360deg);
        }
    }

    #rug {
        width: 25rem;
        transform: rotate(-88deg);
        margin-top: 30rem;
    }

}

@media (min-width: 1024px) {
    
}