/* 01 Mar 2021
Personal Portfolio
Composer: brndn */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* #coffee {
    display: none;
    height: 100vh;
    margin-top: -0.5em;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
} */

body {
    height: 100vh;
    background: url("coffee-zoom.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: averia serif libre;
}

header {
    /* position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin: 0em; */
    margin-top: 1em;
    padding: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header h1 {
    margin: 0em;
    font-size: 3em;
    color: antiquewhite;
}

h1 span {
    display: inline-flex;
    letter-spacing: 0em;
}

h1 span:nth-child(even) {
    overflow: hidden;
    letter-spacing: -1em;
    transition: ease-in-out 0.5s;
}

h1:hover span:nth-child(even) {
    font-size: 0.75em;
    letter-spacing: 0em;
    transition: ease-in-out 0.5s;
}

main {
    height: 57vh;
}

#self {
    position: absolute;
    height: 10em;
    bottom: -10em;
    transform: translateY(-10em);
    transition: transform 2s ease-in-out;
    transition-delay: 4s;
}

#self:hover {
    transform: translateX(500em);
    transition: transform 2s ease-in-out;
}

#contact {
    color: antiquewhite;
}

#contact p {
    font-size: 2.5em;
    margin: 0em;
}

#bubble {
    position: absolute;
    height: 6em;
    left: 4em;
    bottom: 10em;
}

#bubble:hover, #bubble2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#email{
    position: absolute;
    left: 3em;
    bottom: 4.9em;
}

#bubble2 {
    position: absolute;
    height: 5em;
    left: 9em;
    bottom: 3.5em;
}

#github {
    position: absolute;
    left: 4.6em;
    bottom: 1.8em;
}